<!--unless the current_user is the @user for the show page-->
<% unless current_user?(@user) %> 
	<div id="follow_form">
	<% if current_user.following?(@user) %>
		<%= render 'unfollow' %>
	<% else %>
		<%= render 'follow' %>
	<% end %>
	</div>
<% end %>