 <!-- form builds a realtionship for current_user, then passes the user :id for the @user being shown to the button, so when it is pressed it POSTs the id as :followed_id to relationships#create-->

<%= form_for(current_user.active_relationships.build) do |f| %>
	<div><%= hidden_field_tag :followed_id, @user.id %></div>
	<%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>
